
$kindablue: linear-gradient(steelblue, powderblue);

$silverbg: linear-gradient(45deg, silver, #fff, silver);

.instructions, .rules {
    padding: 1rem;
}

footer {
    background-color: silver;
}

$yusei: 'Yusei Magic', sans-serif;